version: "3.9"

services:
  openadr-web:
    build:
      context: .
      dockerfile: dockerfile.web
    container_name: openadr-web
    depends_on:
      - openadr-vtn
    ports:
      - "443:443"
    volumes:
      - ./web/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./web:/etc/nginx/certs:ro

  openadr-vtn:
    build:
      context: .
      dockerfile: dockerfile.vtn
    container_name: openadr-vtn
    volumes:
      - ../../vtn/:/workspaces
    command: sleep infinity
    expose:
      - "8080"

  dynamodb:
    image: amazon/dynamodb-local
    container_name: openadr-dynamodb-local
    ports:
      - "8000:8000"
    command: ["-jar", "DynamoDBLocal.jar", "-sharedDb"]

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin
    container_name: openadr-dynamodb-admin
    ports:
      - "8001:8001"
    environment:
      DYNAMO_ENDPOINT: http://dynamodb:8000
    depends_on:
      - dynamodb
